<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <!-- Container starts -->
    <div class="container">
        <!-- Sources section starts -->
        <div class="sources-section">
            <!-- Section header starts -->
            <div class="section-header mb-5">
                <!-- Section description starts -->
                <div class="section-description">
                    <h1 class="mb-0">Trusted Sources</h1>
                    <p class="mb-0 text-ct-secondary">Click to know more about the source.</p>
                </div>
                <!-- Section description ends -->
            </div>
            <!-- Section header ends -->
            <!-- Display sources starts -->
            <div class="display-sources">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- List sources starts -->
                        <div class="list-sources">
                            <!-- Sources starts -->
                            <ul class="sources list-group">
                                <!-- Source starts -->
                                <li class="source list-group-item source-information-active bg-ct-card-dark-active shadow mb-3">
                                    <!-- Source information starts -->
                                    <div class="source-information d-flex align-items-center justify-content-between">
                                        <!-- Source rank starts -->
                                        <div class="source-rank">
                                            <h4 class="mb-0">1</h4>
                                        </div>
                                        <!-- Source rank ends -->
                                        <!-- Source image starts -->
                                        <div class="source-image">
                                            <img src="https://www.yellowdoorenergy.com/wp-content/uploads/2020/02/Gulf-News-Media-Interview-Logo.png" alt="Gulf News" class="img-fluid">
                                        </div>
                                        <!-- Source image ends -->
                                        <!-- Source description starts -->
                                        <div class="source-description">
                                            <div class="source-header">
                                                <h4 class="mb-0 source-name">Gulf News</h4>
                                                <div class="source-trust-rate">
                                                    <h4 class="rating mb-0 text-ct-green">97.5%</h4>
                                                    <h4 class="rating-label mb-0 util-hidden">User Rating</h4>
                                                </div>
                                            </div>
                                            <!-- Source body starts -->
                                            <div class="source-body util-hidden">
                                                <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore dolorum, eos totam eaque ullam ab deserunt mollitia reprehenderit magni molestias, asperiores fuga laboriosam unde numquam perspiciatis qui sunt harum natus.</p>
                                            </div>
                                            <!-- Source body ends -->
                                        </div>
                                        <!-- Source description ends -->
                                    </div>
                                    <!-- Source information ends -->
                                </li>
                                <!-- Source ends -->
                                <!-- Source starts -->
                                <li class="source list-group-item bg-ct-card-dark shadow mb-3">
                                    <!-- Source information starts -->
                                    <div class="source-information d-flex align-items-center justify-content-between">
                                        <!-- Source rank starts -->
                                        <div class="source-rank">
                                            <h4 class="mb-0">2</h4>
                                        </div>
                                        <!-- Source rank ends -->
                                        <!-- Source image starts -->
                                        <div class="source-image">
                                            <img src="https://www.yellowdoorenergy.com/wp-content/uploads/2020/02/Gulf-News-Media-Interview-Logo.png" alt="Gulf News" class="img-fluid">
                                        </div>
                                        <!-- Source image ends -->
                                        <!-- Source description starts -->
                                        <div class="source-description">
                                            <h4 class="mb-0 " id="source-name">Gulf News</h4>
                                            <h4 class="mb-0 text-ct-green" id="source-trust-rate">97.5%</h4>
                                        </div>
                                        <!-- Source description ends -->
                                    </div>
                                    <!-- Source information ends -->
                                </li>
                                <!-- Source ends -->
                                <!-- Source starts -->
                                <li class="source list-group-item bg-ct-card-dark shadow mb-3">
                                    <!-- Source information starts -->
                                    <div class="source-information d-flex align-items-center justify-content-between">
                                        <!-- Source rank starts -->
                                        <div class="source-rank">
                                            <h4 class="mb-0">3</h4>
                                        </div>
                                        <!-- Source rank ends -->
                                        <!-- Source image starts -->
                                        <div class="source-image">
                                            <img src="https://www.yellowdoorenergy.com/wp-content/uploads/2020/02/Gulf-News-Media-Interview-Logo.png" alt="Gulf News" class="img-fluid">
                                        </div>
                                        <!-- Source image ends -->
                                        <!-- Source description starts -->
                                        <div class="source-description">
                                            <h4 class="mb-0 " id="source-name">Gulf News</h4>
                                            <h4 class="mb-0 text-ct-green" id="source-trust-rate">97.5%</h4>
                                        </div>
                                        <!-- Source description ends -->
                                    </div>
                                    <!-- Source information ends -->
                                </li>
                                <!-- Source ends -->
                                <!-- Source starts -->
                                <li class="source list-group-item bg-ct-card-dark shadow mb-3">
                                    <!-- Source information starts -->
                                    <div class="source-information d-flex align-items-center justify-content-between">
                                        <!-- Source rank starts -->
                                        <div class="source-rank">
                                            <h4 class="mb-0">4</h4>
                                        </div>
                                        <!-- Source rank ends -->
                                        <!-- Source image starts -->
                                        <div class="source-image">
                                            <img src="https://www.yellowdoorenergy.com/wp-content/uploads/2020/02/Gulf-News-Media-Interview-Logo.png" alt="Gulf News" class="img-fluid">
                                        </div>
                                        <!-- Source image ends -->
                                        <!-- Source description starts -->
                                        <div class="source-description">
                                            <h4 class="mb-0 " id="source-name">Gulf News</h4>
                                            <h4 class="mb-0 text-ct-green" id="source-trust-rate">97.5%</h4>
                                        </div>
                                        <!-- Source description ends -->
                                    </div>
                                    <!-- Source information ends -->
                                </li>
                                <!-- Source ends -->
                                <!-- Source starts -->
                                <li class="source list-group-item bg-ct-card-dark shadow mb-3">
                                    <!-- Source information starts -->
                                    <div class="source-information d-flex align-items-center justify-content-between">
                                        <!-- Source rank starts -->
                                        <div class="source-rank">
                                            <h4 class="mb-0">5</h4>
                                        </div>
                                        <!-- Source rank ends -->
                                        <!-- Source image starts -->
                                        <div class="source-image">
                                            <img src="https://www.yellowdoorenergy.com/wp-content/uploads/2020/02/Gulf-News-Media-Interview-Logo.png" alt="Gulf News" class="img-fluid">
                                        </div>
                                        <!-- Source image ends -->
                                        <!-- Source description starts -->
                                        <div class="source-description">
                                            <h4 class="mb-0 " id="source-name">Gulf News</h4>
                                            <h4 class="mb-0 text-ct-green" id="source-trust-rate">97.5%</h4>
                                        </div>
                                        <!-- Source description ends -->
                                    </div>
                                    <!-- Source information ends -->
                                </li>
                                <!-- Source ends -->
                            </ul>
                            <!-- Sources ends -->
                        </div>
                        <!-- List sources ends -->
                    </div>
                    <div class="col-sm-6">
                        <!-- View source information starts -->
                        <div class="view-source-information util-hidden">
                            <!-- Source information starts -->
                            <div class="source-information bg-ct-card-dark-active rounded shadow">
                                <!-- Source image starts -->
                                <div class="source-image text-center">
                                    <img src="https://www.yellowdoorenergy.com/wp-content/uploads/2020/02/Gulf-News-Media-Interview-Logo.png" alt="Gulf News" class="img-fluid">
                                </div>
                                <!-- Source image ends -->
                                <!-- Source description starts -->
                                <div class="source-description p-5">
                                    <!-- Source header starts -->
                                    <div class="source-header d-flex align-items-center justify-content-between mb-5">
                                        <!-- Source name starts -->
                                        <div class="source-name">
                                            <h2 class="mb-0">Gulf News</h2>
                                        </div>
                                        <!-- Source name ends -->
                                        <!-- Source trust rate starts -->
                                        <div class="source-trust-rate text-center">
                                            <h2 class="mb-0 text-ct-green">97.5%</h2>
                                            <h4 class="mb-0">User Rating</h4>
                                        </div>
                                        <!-- Source trust rate end -->
                                    </div>
                                    <!-- Source header ends -->
                                    <!-- Source body starts -->
                                    <div class="source-body">
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit voluptatibus suscipit sed magnam provident a molestias officia sapiente eum aperiam, voluptas eos hic repellat tempore totam? Accusamus iste laboriosam veniam?</p>
                                    </div>
                                    <!-- Source body ends -->
                                </div>
                                <!-- Source description end -->
                            </div>
                            <!-- Source information ends -->
                        </div>
                        <!-- View source information starts -->
                    </div>
                </div>
            </div>
            <!-- Display sources ends -->
        </div>
        <!-- Sources section ends -->
    </div>
    <!-- Container ends -->
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>