<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <!-- Container starts -->
    <div class="container">
        <!-- Verify news complete section starts -->
        <div class="verify-news-complete-section">
            
        </div>
        <!-- Verify news complete section ends -->
    </div>
    <!-- Container ends -->
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>